{% extends "base.html" %}

{% block content %} 

<!-- Post Content -->
<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About</h1>
                    <p id="about"><br>What is the economic and political role of the U.S. in Honduras? What does intervention look like and how has it evolved over time? The aim of this website is to answer these critical questions to help raise consciousness in the U.S. about the government’s role in Honduras. Documentation of the role of the U.S. in Honduras is key to organizing and mobilizing allies of Honduras’ social movement. 
                    IH is looking for contributors.  If you would like to contribute to this documentation project, please send a message to us here.</p>
                </div>
            </div>
        </div>
</div>

{% endblock %}
