<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="IH" content="">    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link rel="stylesheet" href="css/responsive.css">
    
    <script type="text/javascript" href="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    {{HondurasBases.js}}

    <title>U.S. Intervention in Honduras Timeline</title> 
    
</head>
 <nav class="navbar navbar-default" role="navigation" id="navbar-default-custom">
     <div class="container-fluid">
            <div class="navbar-header">           
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                   <a class="navbar-brand" id="navbar-default-custom">U.S. INTERVENTION IN HONDURAS</a>
            </div> 
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   <li><a href="/">Home</a></li>
                   {#<li><a href="/contact">Contact</a></li>#}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Eyes on Intervention <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/news">News Stories</a></li>
                            <li><a href="/timeline">Timeline</a></li>
                            <li><a href="/hondurasmap">U.S. Military Bases</a></li>
                        </ul>     
                </li>         
            </div>         
        </div>
    </nav>
<body class="Site"> 
<main class="Site-content">
{% block content %}
{% endblock %}
</main>
<footer>
     <hr>
    <p>Copyright &copy; Intervention in Honduras 2017</p>
</footer>

  </body>
</html> 

