{% extends "base.html" %}

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

{% block content %} 
{% from "_formhelpers.html" import render_field %}
<h1 id="pageHeading">Contact Me</h1>
    <hr class="blurred"> 
        <div class="formDiv pageHeading">
                <p style="text-align:center;">Get in touch here! Do you want to be a contributor? Any questions about this site? <br>
                    Fill out the contact form below and we will be in touch. Thank you.</p>
            <form action="/contact" method="POST">
                    {{ form.hidden_tag()}}
                    <dl>
                    <div class="formInput">
                        {{form.name.label}}
                    <div>
                        {{form.name}}
                    </div>
                    </div>
                    <div class="formInput">
                        {{form.email.label}}
                    <div>
                        {{form.email}}
                    </div>
                    </div>
                    <div class="formInput">
                        {{form.subject.label}}
                   
                    <div>
                        {{form.subject}}
                    </div>
                    </div>
                    <div class="formInput">
                        {{form.message.label}}
                    
                    <div id="Message">
                        {{form.message}} 
                    </div>
                    </div>
                    <div class="formInput">
                    <input type="submit" value="Submit" class="btn-lg btn-default" id="contactButton">
                    </div>
                </form>
        </div>     
 
{% endblock %}
