{% extends "base.html" %}

{% block content %} 
<!-- Post Content -->

<h1>Timeline</h1>
    <div class="flex-container">
        <a id="allDescriptions">Show/Hide all content</a>
        <a id="jump1990" class="buttons">Jump to 1900s</as>
        <a id="jump1950" class="buttons">Jump to 1950s</a>
        <a id="jump2000" class="buttons">Jump to 2000s</a>
    </div>                   
    <div class="container" id="indexSection"> 
        <div class="row">
               <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1"> 
                <!--<div class="container">-->
                    <!--<div class="timeline">-->
                        <div class="accordion-group">
                            <div class="accordion-heading">            
                                    <h4><a role="button">1860</a></h4>
                                <div>
                                    <div class="accordion-inner">
                                        <p><b>September 12</b>, Criminal William Walker and embodiment of “Manifest Destiny”, fails to invade Nicaragua is captured by the Royal Navy and handed over to Honduran authorities who in turn execute him.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /Panel -->
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div>
                                        <h4><a role="button">1862</a></h4>
                                    </div>
                                    <div>
                                        <div class="accordion-inner">
                                            <p>US Secretary of State William H. Seward convinces President Lincoln to approve the relocation of freed black slaves to Central America. Honduran President Santos Guardiola rejects the plan believing it is covert U.S. intervention. </p>
                                        </div>
                                    </div>
                                </div>
                            <!-- /Panel -->
                        <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div>
                                        <h4><a role="button">1879</a></h4>
                                    </div>
                                <div>
                                        <div class="accordion-inner">
                                            <p>Washington S. Valentine and his family move from New York to Honduras. A year later, the family opens Rosario Mining Company and under highly favorable business conditions for foreign companies becomes the most successful mining company in Honduras. The family becomes very influential in Honduran politics and the economy, such that Valentine was known as the “King of Honduras.”</p>
                                        </div>
                                </div>
                                </div>
                        </div>     
                        <!-- /Panel -->
                           <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div>
                                        <h4><a role="button">1899</a></h4>
                                    </div>
                                        <div>
                                            <div class="accordion-inner">
                                                <p>Boston Fruit company merges with Snyder Fruit Company to create United Fruit Company. UFC would later purchase rival Honduran fruit company Cuyamel Fruit Company. During the 20s United Fruit controlled 650,000 acres of the best land in Honduras.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Panel -->
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div>
                                        <h4><a role="button">1919 </a></h4>
                                    </div>
                                        <div id="collapse4">
                                            <div class="accordion-inner">
                                                <p><b>September 8-12</b>, U.S. Marines dispatched to Honduras to maintain order during an attempted revolution. </p>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- /Panel -->
                            <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <div>
                                                <h4><a role="button">
                                    1924
                            </a>
                                </h4>
                                            </div>
                                        <div>
                                        <div class="accordion-inner">
                                                    <p><b>February 28-March 31</b>, <b>September 10-15</b>, Marines sent to Honduras to protect Americans and U.S. interests during election hostilities. </p>
                                                </div>
                                            </div>
                                            </div> 
                            <!-- /Panel -->
                                <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <div>
                                                <h4><a role="button">
                                    1925
                                            </a>
                                </h4>
                                            </div>
                                        <di>
                                        <div class="accordion-inner">
                                                    <p><b>February 28-March 31</b>, <b>September 10-15</b>, Marines sent to Honduras to protect Americans and U.S. interests during election hostilities.<br> </p>
                                                    <p><b>April 19-21</b>, Marines sent to protect foreigners in La Ceiva during political unrest. </p>
                                            </div>
                                            </div>
                                            </div>  
                                            </div>
                                            
                            <!-- /Panel -->
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div>
                                        <h4><a role="button">1953</a></h4>
                                    </div>
                                        <div id="collapse5">
                                                <div class="accordion-inner">
                                                    <p><b>August</b>, Dwight D. Eisenhower authorized the CIA to execute a plan to overthrow Guatamalan President Arbenz, the CIA hired civilian militias from Honduras to come into Guatemala and start a war against Arbenz.</p>
                                                </div>
                                        </div>
                                </div>
                            </div>
                            <!-- /Panel -->
                            <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <div>
                                                <h4><a role="button">1954</a></h4>
                                        </div>
                                        <div>
                                            <div class="accordion-inner">
                                                <p><b>May 1</b>, A historic general strike is organized beginning at United Fruit Company where workers went on strike demanding double the pay for working on holidays. The strike expanded with 7,000 workers from El Progreso joining their fellow workers and the strike become national including other factories. </p>
                                            </div>
                                        </div> 
                                    </div> 
                            </div>
                            <!-- /Panel -->
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div>
                                        <h4><a role="button">1972</a></h4>
                                    </div>
                                    <div>
                                        <div class="accordion-inner">
                                            <p>United Fruit (now renamed United Brands) helped Honduran General Oswaldo López Arellano to power, although he was forced to resign because of bribes he received from the company.</p>
                                        </div>
                                    </div>
                                </div> 
                            </div>   
                            <!-- /Panel -->
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div>
                                            <h4><a role="button">1981</a></h4>
                                    </div>
                                <div>
                                    <div class="accordion-inner">
                                        <p>John Negroponte becomes U.S. Ambassador to Honduras, during his term, he would assist U.S. backed Nicaraguan Contra rebels who received training in Honduras.<br>The Pamerola Air Base becomes operational, housing the United States military force troops known as Joint Task Force Bravo (JTFB), one of two task forces under United States Southern Command.</p>
                                    </div>
                                </div> 
                            </div>  
                            <!-- /Panel -->
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div>
                                            <h4><a role="button">1983</a></h4>
                                    </div>
                                    <div>
                                        <div class="accordion-inner">
                                            <p>The International Republican Institute and National Endowment for Democracy are created under Reagan to promote democracy overseas. These organizations would later play a role in the 2009 coup.</p>
                                        </div>
                                    </div>
                                </div>  
                            </div> 
                            <!-- /Panel -->
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div>
                                        <h4><a role="button">1990</a></h4>
                                    </div>
                                        <div>
                                            <div class="accordion-inner">
                                                <p>Lawrenceville School and Stanford University-educated economist and businessman, and Panama-born Ricardo Maduro helps to reinvigorate the right-wing Nationalist Party. Maduro serves as the Campaign Manager for Rafael Callejas and after the election win is appointed to lead the Central Bank of Honduras, he serves in this position for 4 years.</p>
                                            </div>
                                        </div>  
                                </div> 
                            </div> 
                            <!-- /Panel -->
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div id="collapse6">
                                        <h4><a role="button">2005</a></h4>
                                    </div>
                                    <div>
                                        <div class="accordion-inner">
                                            <p><b>June</b>, Honduras becomes the first country in the hemisphere to sign a Millennium Challenge Corporation (MCC) Compact with the U.S. Government, fund are to help improve its road infrastructure, diversify its agriculture, and transport its products to market.</p>
                                        </div>
                                    </div>  
                                </div>
                            </div> 
                            <!-- /Panel -->
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div>
                                        <h4><a role="button">2008</a></h4>
                                    </div>
                                    <div>
                                        <div class="accordion-inner">
                                            <p>The International Republican Institute receives a Latin American Regional Grant for the period 2008-2009 from the National Endowment for Democracy to do “good governance” work in the country. <br>December 24, Zelaya issues an Executive Decree that increases the minimum wage by 60%</p>
                                        </div>
                                    </div> 
                                </div> 
                            </div>
                            <!-- /Panel -->
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div>
                                        <h4><a role="button">2009</a></h4>
                                    </div>
                                    <div>
                                        <div class="accordion-inner">
                                                    <p>Chiquita lobbies the Honduran National Business Council (COHEP in Spanish) against Zelaya’s increased minimum wage measure.<br><br>
                                                    <b>June 28</b>, soldiers stormed the presidential palace in the capital, early in the morning, disarming the presidential guard, kidnapping Manuel Zelaya and putting him on a plane to Costa Rica.<br><br>
                                                    <b>July 24</b>, Hugo Llorens, former U.S. ambassador to Honduras,  send a cable entitled “Open and Shut: The Case of the Honduran Coup” unequivocally confirmed that the events of June 28th “constituted an illegal and unconstitutional coup”. Nevertheless, the U.S. does not immediately cut off all aid to Honduras.<br><br>
                                                    <b>September 3</b>, U.S. State Department stops $30 million in non-humanitarian aid from going to Honduras.<br><br>
                                                    <b>November 3</b>, Sec. Shannon announces that the U.S. will recognize the legitimacy of the November 29 elections whether or not Zelaya is restored to the presidency. The National Endowment for Democracy and the State Department finance fraudulent election.</p>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <!-- /Panel -->
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div>
                                        <h4><a role="button">2010</a></h4>
                                    </div>
                                    <div>
                                        <div class="accordion-inner">
                                            <p><b>May</b>, The Honduran Supreme Court deposes four judges who were opposed to the coup, U.S. reinstates military aid to Honduras </p>
                                        </div>
                                    </div> 
                                </div> 
                            </div>
                            
                            <!-- /Panel -->
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div>
                                        <h4><a role="button"> 2011</a></h4>
                                    </div>
                                    <div>
                                        <div class="accordion-inner">
                                                <p>In her memoir, Clinton wrote, “In the subsequent days [after the coup] I spoke with my counterparts around the hemisphere, including Secretary [Patricia] Espinosa in Mexico...We strategized on a plan to restore order in Honduras and ensure that free and fair elections could be held quickly and legitimately, which would render the question of Zelaya moot.” 
                                                <br>
                                                <b>June</b>,the Organization of American states readmitted Honduras; the OAS voted 32 to one (against Ecuador) to readmit Honduras.</p>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <!-- /Panel -->
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div>
                                        <h4><a role="button"> 2014</a></h4>
                                    </div>
                                    <div>
                                        <div class="accordion-inner">
                                            <p>Fourteen Democratic lawmakers including Rep. Hank Johnson, sent a letter to Attorney General Jeff Sessions and Secretary of State Rex Tillerson demanding aaccountability for the botched DEA operation on May 11, 2012, in Ahuas , in which four local villagers were shot and killed. </p>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <!-- /Panel -->
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div>
                                        <h4><a role="button"> 2016</a></h4>
                                    </div>
                                    <div>
                                        <div class="accordion-inner">
                                            <p><b>March 3, 2016</b> Berta Cáceres, leader of the Council of Indigenous Peoples of Honduras, is brutally assassinated by the suspected gunmen include two military intelligence specialists who received military training in the US.</p>
                                        </div>
                                    </div>                           
                                </div>
                            </div>  
                </div>                       
            </div>
        </div>
    </div>
    {% assets "main.js" %}
    <script type="text/javascript" src="{{ASSET_URL}}"></script>
    {% endassets %}   

{% endblock %}

